.yangcenter{
    text-align: center;
    color: hwb(210 20% 65%);   
}
.yangyang{
    background-color:hsl(211, 40%, 21%);
    border: 1px solid #b0b0b0;
    padding: 40px;
    border-radius: 20px 20px;
    color: aliceblue;
    margin: 0 auto;
    width: 80%;
    height: 240px;
}
.alyssa{
    text-align: center;
    color: white;
}
a.link{
    color: #7098c2;
    border-radius: 20px 20px;
}
a.link:hover{
    color: hsl(198, 69%, 80%);
    background-color: #284265;
    padding: 10px;
}
.yangicons{
    text-align: center;
}
#about{
    background-color: #284265;
}
section#about h1{
    color: white;
}
section#about{
    background-image: url("../assets/img/ocean.jpg");
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #3b6ea57e;
    padding-bottom: 50px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
#aly{
    color: hsl(211, 40%, 21%);
}
.op{
    text-align: justify;
}
.ly{
    color: #284265;
}
.custom-card-body {
    padding-top: 4rem;    
    padding-bottom: 4rem;
    min-height: 250px;             
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.chi{
    font-size: 60px;
    text-align: center;
}